@import "reset.scss";
@import "fonts.scss";

$orange: #ef8b54;
$darkgray: #202020;
$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

html,
body {
    min-width: 320px;
}

body.lock {
    overflow: hidden;
}

.container {
    padding: 0 20px;
    @media (min-width: 1200px) {
        max-width: 1400px;
        margin: auto;
    }
}

//-----header start-----//

.header {
    position: fixed;
    min-height: 90px;
    width: 100%;
    z-index: 2;

    &.opened {
        height: 100%;
        z-index: 1;
    }

    &__container {
        height: 0;
    }

    &.opened &__container {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 0;
    }
    &.opened &__wrapper {
        height: 100%;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        padding: 13px 10px;
        background-color: $darkgray;
    }

    &__logo-link {
        align-self: center;
    }

    &__nav {
        background-color: $darkgray;
        display: flex;
        flex-direction: column-reverse;
        transition: transform 0.3s ease-in;
        transform: translate(0px, -200%);
    }

    &__nav.opened {
        background-color: $darkgray;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        transition: transform 0.3s ease-in;
        transform: translate(0px, 0px);
    }

    &__call {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px auto 40px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }

    @media (min-width: 1200px) {
        &.opened {
            height: unset;
            z-index: 1;
        }
        &__wrapper {
            max-width: 1400px;
            height: unset;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            background-color: #202020;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 0 20px;
            min-height: 90px;
            margin: auto;
        }
        &__nav {
            transform: translate(0);
            flex-direction: row;
            align-self: center;
            flex: 1 1 auto;
            justify-content: space-between;
        }
        &__nav.opened {
            display: flex;
            flex-direction: row;
        }
        &__container {
            height: unset;
            min-width: 100%;
            background-color: $darkgray;
        }
        &__call {
            margin: auto 0px auto 50px;
            flex-direction: row;
        }
        &__menu {
            flex: unset;
        }
    }
}

.logo {
    &__link {
        display: flex;
        text-decoration: none;
    }

    &__text {
        display: none;
    }
    @media (min-width: 1200px) {
        &__link {
            display: flex;
        }

        &__text {
            display: block;
            align-self: center;
            font-family: "TT Norms";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            letter-spacing: 0.3em;
            color: #ffffff;
            margin-left: 14px;
        }
    }
}
.menu {
    &__button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #292929;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
        border: none;
        position: relative;

        span,
        span::before,
        span::after {
            width: 17.5px;
            height: 1.5px;
            background-color: #fff;
            border-radius: 1px;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 48%;
            margin: auto;
            transition: transform 0.3s ease-in;
        }

        span::before,
        span::after {
            content: "";
        }

        span::before {
            top: -6px;
        }

        span::after {
            top: 6px;
        }

        span.opened {
            height: 0;
            transition: transform 0.3s ease-in;
        }
        span.opened::before {
            transform: rotate(45deg) translate(5px, 4px);
            transition: transform 0.3s ease-in;
        }

        span.opened::after {
            transform: rotate(-45deg) translate(4px, -4px);
            transition: transform 0.3s ease-in;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__link {
        font-family: Montserrat;
        color: #fff;
        font-size: calc(20px - 10 * (100vw / 1920));
        text-decoration: none;
    }
    @media (min-width: 1200px) {
        &__button {
            display: none;
        }
        &__item {
            margin-right: 30px;
            margin-bottom: unset;
        }
        &__item:last-child {
            margin-right: 0px;
        }
        &__list {
            display: flex;
        }
    }
}
.call {
    &__btn {
        width: 166px;
        height: 47px;
        border: 1px solid #ff834e;
        box-sizing: border-box;
        background-color: transparent;
        font-family: "Source Sans Pro";
        font-weight: 300;
        font-size: 16px;
        color: #ff834e;
    }

    &__link {
        margin: 0 auto 40px;
        color: #fff;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        text-decoration: none;
    }
    @media (min-width: 1200px) {
        &__link {
            margin: auto 0px auto 30px;
        }
    }
}

//-----header end-----//

//-----main banner start-----//

.main {
    background: url(/img/Blume.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    &__banner {
        display: flex;
    }

    @media (min-width: 768px) {
        background: url(/img/desk-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
    }

    @media (min-width: 1200px) {
        padding-top: 175px;
        &__banner {
            justify-content: space-between;
        }
    }
}

.banner {
    &__text {
        margin: auto;
    }

    &__text-title {
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            @include adaptive-font(22, 12);
            line-height: 15px;
            color: #ff834e;
            margin: 30px 0px 10px;

            span svg {
                width: 10px;
                height: 10px;
            }
        }

        h1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            @include adaptive-font(52, 20);
            line-height: calc(40 / 28);
            color: #ffffff;
        }
    }

    &__mobile {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__text-btn {
        display: flex;
        flex-direction: column;
        p {
            padding: 11px 0px 25px;
            text-align: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            font-variant: small-caps;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__call {
        width: 280px;
        height: 50px;
        background: #ff834e;
        box-shadow: 0px 4.5px 9px rgba(239, 139, 84, 0.2);
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: unset;
        margin: auto;
    }

    &__arrow {
        background: #de774b;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo {
        display: none;
    }
    @media (min-width: 768px) {
        &__text {
            margin: unset;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__text-title {
            max-width: 750px;
            p {
                line-height: 28px;
                margin: 20px 0px 10px;
                span svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__mobile {
            display: none;
        }
        &__photo {
            display: block;
        }
        &__call {
            margin: unset;
        }
        &__text-btn {
            flex-direction: column-reverse;
            p {
                text-align: left;
                padding: 0px 0px 10px 0px;
            }
        }
        &__photo {
            display: flex;
            justify-content: flex-end;
        }
    }
}
.prompt {
    &__text {
        display: none;
    }

    @media (min-width: 768px) {
        &__text {
            display: block;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            color: #ffffff;
            margin-top: 10px;
        }
    }
}

.call {
    &__mobile {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 15px;
    }

    &__desktop {
        display: none;
    }
}

.arrow {
    &__img {
        width: 20px;
        height: 15px;
    }
}
.desktop {
    @media (min-width: 768px) {
        &__img {
            width: 70%;
        }
    }
}

//-----main banner end-----//

//-----step projects start------//

.step {
    background-color: #ffffff;
    padding: 40px 0px 30px;

    &__title {
        padding: 0 40px;
        margin: auto;
    }

    &__items {
        margin-top: 40px;
        border-left: 5px dashed #929292;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px 0px 0px 15px;
    }
    &__item:first-child {
        padding: 0px 0px 0px 15px;
    }
    &__item::after {
        content: "";
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 15px 0 0 15px;
        width: 100%;
    }
    &__subitems {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__item-num {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.1em;
        color: #393939;
        transition: color 0.9s ease;
    }

    &__item-icon {
        display: none;
    }

    &__item-text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #393939;
    }
    &__subitems-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__item.opened &__item-num {
        color: #ef8b54;
        transition: color 0.9s ease;
    }

    &__item.opened .more__info {
        max-height: 500px;
        transition: max-height 1s ease-in;
    }

    &__btn {
        display: none;
    }
    @media (min-width: 767px) {
        & {
            background: url(/img/3.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &__body {
            padding: 40px 0 0;
        }
        &__items {
            border: none;
            display: flex;
            justify-content: center;
            height: 700px;
            flex-wrap: wrap;
            background: url(/img/Path.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 90px;
        }
        &__desk {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5vh;
        }
        &__desk:last-child &__item:last-child {
            margin-left: 20px;
        }
        &__desk:last-child {
            flex-direction: row-reverse;
            margin-top: -7vh;
        }
        &__item {
            width: 320px;
            height: 300px;
            position: relative;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0;
        }
        &__item:first-child {
            padding: 0;
        }
        &__item:hover &__item-num {
            color: #ef8b54;
            opacity: 1;
            cursor: default;
        }
        &__item:hover &__item-icon {
            background-color: #ffffff;
        }
        &__item:hover &__item-icon svg {
            stroke: #000;
            fill: #000;
        }
        &__item:hover &__name {
            display: none;
        }
        &__item:hover &__more {
            display: flex;
            color: #ffffff;
            text-decoration: underline;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
        &__subitems {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subitems-body {
            justify-content: center;
            margin-top: 20px;
        }
        &__item-num {
            font-size: 118px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            color: #ffffff;
            opacity: 0.1;
            position: absolute;
            right: 0;
            top: 25px;
        }
        &__btn {
            cursor: pointer;
            display: block;
            background: none;
            border: none;
        }
        &__item-icon {
            position: relative;
            width: 180px;
            height: 180px;
            background: #1d1d1d;
            box-shadow: 2px 5px 20px rgba(0, 0, 0, 0);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
        }
        &__item-icon svg {
            stroke: #ef8b54;
        }
        &__name {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            color: #ffffff;
        }
        &__more {
            display: none;
        }
    }
}

.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    @include adaptive-font(26, 14);
    line-height: 17px;
    text-align: center;
    color: #393939;

    @media (min-width: 767px) {
        & {
            color: #ffffff;
        }
    }
}

.more {
    &__info {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1s ease-out;
    }

    &__info-title {
        display: none;
    }

    &__info-btn {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 1px solid #000;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 0.9s ease-in;
    }

    .step__item.opened &__info-btn {
        transform: rotate(-180deg);
        transition: transform 0.5s ease-in;
    }

    &__close-btn {
        display: none;
    }
    @media (min-width: 767px) {
        &__info-btn {
            display: none;
        }

        &__icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #ef8b54;
            border-radius: 50%;
            border: 1px solid #ffffff;
            margin-left: 5px;
            position: relative;
        }
        &__icon:before {
            content: "";
            width: 8px;
            border: 1px solid #ffffff;
            background-color: #ffffff;
            display: inline-block;
            top: 45%;
            position: absolute;
            right: 25%;
        }
        &__icon:after {
            content: "";
            width: 8px;
            border: 1px solid #ffffff;
            background-color: #ffffff;
            transform: rotate(90deg);
            display: inline-block;
            top: 45%;
            position: absolute;
            right: 25%;
        }
        &__modal-body {
            position: relative;
            transform: translateY(100px);
        }
        &__modal.show {
            z-index: 1;
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(15px);
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__modal.show &__modal-body {
            position: relative;
            transform: translateY(0px);
            transition: transform 0.3s ease-out;
        }
        &__close-btn {
            display: none;
        }
        &__modal.show &__close-btn {
            position: absolute;
            display: block;
            top: -15%;
            right: -10%;
            width: 50px;
            height: 50px;
            background: none;
            border: none;
            cursor: pointer;
        }
        &__modal.show &__close-span,
        &__modal.show &__close-span::before,
        &__modal.show &__close-span::after {
            position: absolute;
            width: 5px;
            height: 45px;
            top: 0%;
            left: 30%;
        }
        &__modal.show &__close-span::before {
            content: "";
            background: #c4c4c4;
            transform: rotate(-135deg);
        }
        &__modal.show &__close-span::after {
            content: "";
            background: #c4c4c4;
            transform: rotate(-45deg);
        }
        &__modal.show &__info {
            display: block;
            overflow: visible;
            max-width: 700px;
            max-height: 400px;
            padding: 62px 53px;
            background-color: $darkgray;
        }
        &__info {
            transition: unset;
        }
        &__info-title {
            display: block;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 41px;
            color: #ffffff;
            text-align: left;
        }
        &__info-text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: #ffffff;
            text-align: left;
            padding-top: 30px;
        }
    }
}

//-----step projects end------//

//-----features start-----//
.features {
    background: url(/img/BlumeBG.png);
    background-size: cover;
    background-color: #000;
    &__body {
        padding: 90px 0 45px;
    }

    &__sub-body {
    }

    &__mockup {
        display: none;
    }

    &__mockup-img {
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__title {
        order: 2;
    }

    &__text {
        order: 3;
    }

    &__logo {
        order: 1;
        margin: auto;
        border-radius: 50%;
        background-color: #ffffff;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-item svg {
        width: 196px;
        margin-left: -50px;
    }

    &__logo-sber {
        width: 120px;
        height: 35px;
        order: 2;
    }
    
    &__logo-yandex {
        height: 35px;
        order: 1;
    }
    
    &__logo-robo {
        width: 120px;
        height: 35px;
        order: 3;
    }

    &__link {
    }

    &__link-item {
    }
}

//-----features end-----//
